.loginWrap{
    position: relative;
    width:100%;
    height:100%;
    background-image: url(../../assets/img/login-bg.jpg);
    background-size: 100%;
}
.msTitle{
    width:100%;
    line-height: 50px;
    text-align: center;
    font-size:20px;
    color: #fff;
    border-bottom: 1px solid #ddd;
}
.msLogin{
    position: absolute;
    left:50%;
    top:50%;
    width:350px;
    margin:-190px 0 0 -175px;
    border-radius: 5px;
    background: rgba(255,255,255, 0.3);
    overflow: hidden;
}
.msContent{
    padding: 30px 30px;
}
.loginBtn{
    text-align: center;
}
.loginBtn button{
    width:100%;
    height:36px;
    margin-bottom: 10px;
}
.loginTips{
    font-size:12px;
    line-height:30px;
    color:#fff;
}