.main {
    height: 100%;
}

.mainContent {
    display: flex;
    height: 100%;
    /* padding-top: 70px; */
}

.mainRight {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    background: #f0f0f0;
}