.header {
    /* position: fixed; */
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    color: #666;
    background-color: #fff;
    z-index: 1;
}

.collapseBtn {
    float: left;
    width: 80px;
    text-align: center;
    cursor: pointer;
    line-height: 70px;
    font-size: 26px;
}

.header .logo {
    float: left;
    width: 250px;
    line-height: 70px;
}

.headerRight {
    float: right;
    padding-right: 50px;
}

.headerUserCon {
    display: flex;
    height: 70px;
    align-items: center;
}

.btnFullscreen {
    margin-right: 10px;
}

.btnBell,
.btnFullscreen {
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    color: #666;
    font-size: 26px;
}

.btnBellBadge {
    position: absolute;
    right: 0;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #f56c6c;
}

/* .btnBell .el-iconBell {
    color: #666;
} */

.userName {
    margin-left: 10px;
}

.userAvator {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}

.elDropdownLink {
    /* color: #fff; */
    cursor: pointer;
    font-size: 16px;
}

.dropItemLink {
    text-align: center;
    color: #48576a
}