.sidebar{
    /* width: 250px; */
    height: 100%;
    overflow-y: scroll;
}
.sidebar-collapse{
    width: auto;
}
.sidebar::-webkit-scrollbar{
    width: 0;
}
.sidebar > ul {
    height: 100%;
    border-radius: 0;
}
.ant-menu-item .anticon{
    font-size: 16px;
}